
.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .animal {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

.animal button {
    margin-top: 10px;
    margin-right: 10px;
}

.animalSearch {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #c7f5c7;
}
  